<form action="/dashboard/addPois" method="POST">
    <div class="field">
        <label class="label">Placemark Name</label>
        <input class="input" type="text" placeholder="Enter Placemark Name" name="name">
    </div>
    <div class="field">
        <label class="label">Description</label>
        <input class="input" type="text" placeholder="Enter Description" name="description">
    </div>
    <div class="field">
        <label class="label">Latitude</label>
        <input class="input" type="text" placeholder="Enter Latitude" name="latitude">
    </div>
    <div class="field">
        <label class="label">Longitude</label>
        <input class="input" type="text" placeholder="Enter Longitude" name="longitude">
    </div>
    <button class="button is-link">Add Placemark</button>
</form>