{{#each categories}}
  <div class="columns mt-3">
    <div class="box box-link-hover-shadow" style="width: 100%">
      <h2 class="title">
        {{title}}
        <a href="/category/{{_id}}" class="button">
          <span class="icon is-small">
            <i class="fas fa-folder-open"></i>
          </span>
        </a>
          {{#if ../user.isAdmin}}
        <a href="/dashboard/deleteCategory/{{_id}}" class="button">
          <i class="fas fa-trash"></i>
        </a>
          {{/if}}
      </h2>
    </div>
  </div>
{{/each}}

