<div class="box has-text-centered columns">
  <div class="column">
    {{#if user}}
        <a href="/dashboard">
            <img src="/images/map-icon.png" width="80" alt="img"/>
        </a>
    {{else}}
      <a href="/">
          <img src="/images/map-icon.png" width="80" alt="img"/>
      </a>
    {{/if}}
  </div>
  <div class="column">
    <div class="title is-size-2"> {{title}} </div>
    <div class="subtitle is-5"> {{subTitle}} </div>
  </div>
</div>
