<div class="box has-text-centered columns m-2">
  <a href="/signup" class="column">
    <i class="fas fa-user-cog fa-3x" style="color:rgb(38,114,236)" title="Sign up"></i>
      <h2>Sign up</h2>
  </a>

  <a href="/login" class="column">
    <i class="fas fa-user-edit fa-3x" style="color:#008029" title="Log in"></i>
      <h2>Log in</h2>
  </a>
</div>

