<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="PlaceMark" subTitle="Add Points of Interest"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>

<div>Add pois soon</div>