<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="PlaceMark" subTitle="Where do you want to go?"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>
{{> add-placemarks}}
{{> list-placemarks}}

