<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{#if user.isAdmin}}
            {{> TitleBar title="PlaceMark Admin" subTitle="Admin Dashboard"}}
        {{else}}
            {{> TitleBar title="PlaceMark" subTitle="What Category interests you?"}}
        {{/if}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>
{{#if user.isAdmin}}
{{> add-category}}
{{/if}}
{{> list-categories }}

