<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="PlaceMark" subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
      <img width="400" src="images/poi-icon.png"/>
  </div>
  <div class="column">
    <h1 class="title">Find your next Point of Interest</h1>
    <p class="is-size-5">PlaceMark helps you to find out what there is to see and experience out in the wide World!</p>
  </div>
</div>
