<div class="columns is-vcentered">
    <div class="column is-two-thirds">
        {{> TitleBar title="Admin Interface" subTitle="Manage Users"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>
{{> list-users }}