<div class="columns is-vcentered">
    <div class="column is-two-thirds">
            {{> TitleBar title="PlaceMark" subTitle="User Settings"}}
    </div>
    <div class="column">
        {{> MainNavigator }}
    </div>
</div>
{{> user-settings-info}}